.idea/

cmake-build-*/

CMakeCache.txt
CMakeFiles/
CMakeLists.txt.user
Makefile

*.o
*.a
*.so
*.dylib
*.dll

*.out
*.exe
*.app

*.swp
*.swo
*.user
*.userosscache
*.sublime-workspace
*.sublime-project

Thumbs.db
.DS_Store
